
header{
    height:110px;
}
body{
    margin:0;
    padding: 0;
	height: 100%;
    background-attachment:fixed; 
    background-size: cover;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(Background.jpg);
    width:100px;
}
	

.whole {

	height: 130px;
	width:100%;
	position: fixed;
	background:rgba(43, 40, 40, 0.9);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 12;
}

.nav-area {
	float: right;
	list-style: none;
	margin-top: 0px;
    margin-right: 25rem;
    
	

}
.nav-area li {
	display: inline-block;
	font-size: small;
    
}
.nav-area li a {
    color:rgb(209, 59, 59);
	text-decoration: none;
	padding: 0px 20px;
	font-family:monospace;
	font-size: 25px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo{
	
	padding-right:0;
	padding-top:20px;
	padding-left: 100px;
}

.backgroundDiv{
    position: absolute;
    left:0%;
    top:250px;
    background: url("backgroundDiv3.jpg");
    width:1580px;
    background-repeat: no-repeat;
    height:800px;
    background-attachment: fixed;
    background-size:cover;
    
}
.Div1{
	
    width:300px;
    height:450px;
    position:absolute;
  
    top:50px;
    left: 70px;

    
}
.Div1 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div1 a{
  
    background-color: transparent;
    margin-left: 70px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div1 a:hover{
    color: #fec53a;
}


.Div2{
	width:300px;
    height:450px;
    position:absolute;
    top:47px;
    left:600px;

    
}
.Div2 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}

.Div2 a{
  
	
    background-color: transparent;
    margin-left: 80px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div2 a:hover{
    color: #fec53a;
}

.Div3{
    width:300px;
    height:450px;
    position:absolute;
    top:47px;
    left:1125px;

    
}
.Div3 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div3 a{
  
	
    background-color: transparent;
    margin-left: 115px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div3 a:hover{
    color: #fec53a;
}


.Div4{
	
    width:300px;
    height:450px;
    position:absolute;
    top:650px;
    left: 70px;

    
}
.Div4 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div4 a{
  
    background-color: transparent;
    margin-left: 90px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div4 a:hover{
    color: #fec53a;
}


.Div5{
	width:300px;
    height:450px;
    position:absolute;
    top:650px;
    left:600px;

    
}
.Div5 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div5 a{
  
	
    background-color: transparent;
    margin-left: 130px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div5 a:hover{
    color: #fec53a;
}


.Div6{
    width:400px;
    height:50px;
    position:absolute;
    top:650px;
    left:1125px;

    
}
.Div6 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div6 a{
  
	
    background-color: transparent;
    margin-left: 110 px;
    padding-left: 40px;
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div6 a:hover{
    color: #fec53a;
}


.Div7{
	
    width:300px;
    height:450px;
    position:absolute;
    top:1300px;
    left: 70px;

    
}
.Div7 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div7 a{
  
    background-color: transparent;
    margin-left: 110px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div7 a:hover{
    color: #fec53a;
}



.Div8{
	width:300px;
    height:450px;
    position:absolute;
    top:1300px;
    left:600px;

    
}
.Div8 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div8 a{
  
	
    background-color: transparent;
    margin-left: 110px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div8 a:hover{
    color: #fec53a;
}

.Div9{
    width:300px;
    height:50px;
    position:absolute;
    top:1300px;
    left:1125px;

    
}
.Div9 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div9 a{
  
	
    background-color: transparent;
    margin-left: 85px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div9 a:hover{
    color: #fec53a;
}



.Div10{
	
    width:400px;
    height:450px;
    position:absolute;
    top:1950px;
    left: 70px;

    
}
.Div10 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div10 a{
  
    background-color: transparent;
    margin-left: 45px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div10 a:hover{
    color: #fec53a;
}


.Div11{
	width:300px;
    height:450px;
    position:absolute;
    top:2200px;
    left:600px;

    
}
.Div11 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div11 a{
  
	
    background-color: transparent;
    margin-left: 180px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div11 a:hover{
    color: #fec53a;
}


.Div12{
    width:400px;
    height:50px;
    position:absolute;
    top:2200px;
    left:1125px;

    
}
.Div12 img{
    width:400px;
    height:450px;
    margin-bottom: 10px;
    border-radius: 18px;
}
.Div12 a{
  
	
    background-color: transparent;
    margin-left: 90px;
    
    margin-top: 40px;
    text-align: center;
    font-size:25px;
    color:rgb(209, 59, 59);
   outline-color:sandybrown;
   text-decoration: none;
}
.Div12 a:hover{
    color: #fec53a;
}

